<!DOCTYPE html>
<html lang="en">

<head>

    <title>Contact Book</title>
    <script src="../../../static/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background:#F7F7F7; margin-left:20px;  margin-right:20px;">

    <script>


        $(document).ready(function () {


         if ({{.Message}} != "" ) {
          alert({{.Message}}); 
          return;
      }

      $('#username').bind("cut copy paste",function(e) {
        e.preventDefault();
    });
      $('#password').bind("cut copy paste",function(e) {
        e.preventDefault();
    });

  });

        function clickFunction(){
            if( $.trim($('#username').val()) == "" ) {
             $("#usernameMessage").html("Please enter your user identity");
         }        
         if(!(/^.{6,16}$/.test($('#password').val()))){
            $("#passwordMessage").html("Please enter valid password").css('color', 'red');				
        }
        else
        {			
            $('body').removeClass('loaded');
            document.getElementById("LoginForm").submit();
        }
    }
</script>

<section>
<div class="container">
    <form action="/Login" id="LoginForm" method="post" name="LoginForm">
        <h2>Contact Book Login</h2>
            <p id="usernameMessage" style="color: red; font-size:12px;"></p>
             <div class="form-group row">
            <div class="col-xs-2">
            <input type="text" class="form-control"  placeholder="Username" required="" id="username" name="username" />
        </div>
        </div>
        
            <p id="passwordMessage" style="color: red; font-size:12px;"></p>
            <div class="form-group row">
            <div class="col-xs-2">
            <input type="password" class="form-control"  placeholder="Password" required="" id="password" name="password" />
        </div>
        </div>
        <div class="col-xs-3">
            <a onClick="clickFunction()" id="logInButton">Login </a>
        </div>
    </form>
    </div>
</section>

</body>

</html>
