<!DOCTYPE html>
<html lang="en">

<head>

<title>CONTACT BOOK </title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>


<body style="background:#F7F7F7; margin-left:20px;  margin-right:20px;">
    <div class="container">
  <h2>CONTACT BOOK</h2>
  <a class="btn btn-info" href="/SearchContact" role="button">Search Contact</a>
  </br>
  </br>
  <a  class="btn btn-info" href="/Logout" role="button">Logout</a>

</div>

</body>

</html>
